.home-container{
    display: flex;
    height: calc(100vh - 125px);
}

.home-container > a{
    margin: auto;
}
.chatBtn:hover{
    color: #000000;
    font-size: 1.1rem;
    box-shadow: 0 0 2px 5px lightblue;
    border-radius: 5px;
}

.chatBtn:hover .chatHead{
    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes rotate{
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }

}